*{
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: block;
  margin: auto;
  padding: 1rem 10rem;
  width: 80%;

}

.clearfix::after{
  display: block;
  clear: both;
  content: '';
}

.logo{
  width: 100%;
  height: 10rem;
  text-align: center;
}
.form{
  display: block;
  width: 100%;
  padding: 1rem 2rem;
}
.form-group{
  display: block;
  margin: 2rem  auto;
  text-align: left;

}
.form-control{
  display: block;
  width: 100%;
  margin: auto;
}
select.form-control{
    display: block;
    margin: auto;
    width: 100%;
    padding: 1rem 1.75rem;
    border: 1px solid orangered;
    border-radius: 2.5rem;
    text-align: center;
    -webkit-appearance: none;
    background-image: url(/img/select-handle.jpg);
    background-repeat: no-repeat;
    background-position: right .5rem;
    background-size: 2.5rem;
}
select::-ms-expand{
  display: none;
  background-image: none;
}
.form-control[type='tel']{
  padding: 1.25rem 1.75rem;
  border-radius: 2.5rem;
  outline: 0;
  border: 1px solid orangered;
}
.dash{
  border: 2px solid orangered;
  display: block;
  margin: auto;
  width: 1.75rem;
  text-align: center;
}
.btn{
  text-align: center;
  padding: 1rem 2.75rem;

}
.btn:hover{
  opacity: .8;
}
.btn-rounded{
  border-radius: 1.5rem;
  display: block;
  width: 70%;
  margin: .75rem auto;
}
.btn-primary{
  
  background-color: orangered;
  color: white;
}

.hero{
    padding: 1rem;
    display: block;
    margin: auto;
    text-align: center;
}

.text-lead{
    font-size: 3rem;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}
.triangle{
  
  clip-path: polygon(50% 0%, 23% 99%, 78% 100%);
  background-color: orangered;
  width: 100%;
  padding: 7rem 0rem;
}
.action-buttons {
  margin: 1.75rem auto;
}
.status{
  float: left;
}
.buttons{
  float: right;
}

.navbar{
  display: flex;
  justify-content: stretch;
  background-color: orangered;
  color: white;
  width: 100%;
  padding: 1rem .25rem;
  margin: auto;
}

.navbar span:last-child{
float: right ;
}

.navbar .logo-text{
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bolder;
  text-align: center;
  margin: auto;
}
.case{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1.75rem auto;
  border-radius: 1rem;
  box-shadow: 0 0 2px 3px #eee;
}
.case p{
  line-height: 1.5;
  letter-spacing: 1.5px;
}
.case span.add{
  padding: 1rem;
  border-radius: 50%;
  background-color: orangered;
  color: white;
  font-weight: bolder;
  font-size: 1.8rem;
  text-align: center;
}
.report-btn{
  display: block;
  text-align: center;
  margin: auto;
  width: 80%;
}